{% extends "layout.html" %}

{% block body %}

<div class="body-content">
    Enter your bank details.
    <br><br>
</div>

<form action="#" method="post">
    <label for="fname">User:</label>
    <input autocomplete="off" type="text" name="username"><br><br>
    <label for="fname">Code:</label>
    <input autocomplete="off" type="text" name="usercode"><br><br>
    <label for="fname">Password:</label>
    <input autocomplete="off" type="text" name="userpassword"><br><br>
    <button type="submit">Send</button>
</form>

{% endblock %}